<%= form_for(current_user) do |f| %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
  <%= f.label :last_name %> <br>
  <%= f.text_field :last_name %>
  </div>

  <div class="field">
  <%= f.label :age %> <br>
  <%= f.text_field :age %>
  </div>

  <div class="field">
  <%= f.label :weight %> <br>
  <%= f.text_field :weight %>
  </div>

  <div class="field">
  <%= f.label :height_in_inches %> <br>
  <%= f.text_field :height_in_inches %>
  </div>

  <div class="actions">
  <%= f.submit %>
  </div>

<% end %>