<!DOCTYPE html>
<html>
  <head>
    <title>Fitness Tracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="heading">
      <%= render 'layouts/header' %>

      <img class="logo" src="/images/fitness_tracker.png" alt="Fitness Tracker Logo" style="height:75px;">
    </div>
    <%= yield %>
  </body>
</html>
